/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.title{font-weight:900; max-width:42%;}
.slidedesc{max-width:42%; padding:20px 0 20px 0;}
.slidedesc p{padding:0;}
.title small{ font-size:32px; font-weight:bold; display:block;}
.slidebtn{display:inline-block; padding:35px 0 0 0;}
.slidebtn a{background-color:#ffffff; color:#252525; padding:18px 40px; text-decoration:none; border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px;}
.slidebtn a:hover{background-color:#ff7167; color:#FFF; text-decoration:none;}


.slider-shadow{background:rgba(0, 0, 0, 0.55); width:100%; height:100%; position:absolute;z-index:99;-webkit-transition:all .4s ease-out;-moz-transition:all .4s ease-out;-ms-transition:all .4s ease-out;-o-transition:all .4s ease-out;transition:all .4s ease-out; display:none;}
/* The Nivo Slider styles */
.slider-wrapper {
    position: relative
}

.slider-main {
    position: relative;
	z-index:9;
}

.nivoSlider {
    position: relative;
    width: 100%;
    height: auto;
	min-height:500px;
    overflow: hidden
}

.nivoSlider img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: none
}

.nivo-main-image {
    display: block!important;
    position: relative!important;
    width: 100%
}

.nivoSlider a.nivo-imageLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 6;
    display: none;
    background: #fff;
    filter: alpha(opacity=0);
    opacity: 0
}

.nivo-slice {
    display: block;
    position: absolute;
    z-index: 5;
    height: 100%;
    top: 0
}

.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
    overflow: hidden
}

.nivo-box img {
    display: block
}

.nivo-html-caption {
    display: none
}

.nivo-directionNav a {
    position: absolute;
    top: 50%;
    z-index: 999;
    cursor: pointer
}

a.nivo-prevNav {
    right: 0;
    background-position: 17px 0 !important;
    border-radius: 0 3px 3px 0
}

a.nivo-nextNav {
    right: 0;
    background-position: -17px 0 !important;
    border-radius: 3px 0 0 3px
}
.theme-default .nivo-controlNav {
    text-align: left;
    padding: 20px 0;
}

.nivo-controlNav {
    text-align: left;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    width: 1170px;
    z-index: 9;
    bottom: 160px;
    left: 15px;
    right: 0;
	margin:0 auto;
}

.nivo-controlNav a {
    cursor: pointer;
    border: 0 none;
    display: inline-block;
    height: 8px;
    margin: 0 4px;
    text-indent: -9999px;
    width: 8px;
	background-color:#fff;
}

.nivo-controlNav a.active {
    font-weight: 700;
    background-position: 0 -21px;
	background-color:#000;
}

.nivo-directionNav a {
    border: 0 none;
    display: block;
    height: 43px;
    text-indent: -9999px;
    transition: all 200ms ease-in-out 0;
    width: 43px;
    background: url(../../images/slide-nav.png) no-repeat left top
}

.nivo-caption {
    position: absolute;
    left: 20px;
	right:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9;
    padding: 0;
	width:1170px;
    display: none;
    top: 25%;
	overflow: hidden;
    text-align: left;
	margin:auto;
}

.slide_info h2 {
    font-size: 38px;
    color: #fff;
    margin: 0 0 20px;
    text-transform: uppercase
}

.slide_info p {
    font: 300 18px/20px Assistant, sans-serif;
    margin-bottom: 15px;
    text-shadow: 0 1px 0 #4b4b4b
}

.slide_info h2 a {
    color: #fff
}

.theme-default .nivoSlider {
    position: relative;
    background: #f0f1f7 url(../../images/loading.gif) no-repeat 50% 50%
}

.theme-default .nivoSlider img {
    position: absolute;
    top: 0;
    left: 0;
    display: none
}

.theme-default .nivoSlider a {
    display: block
}

.theme-default .nivo-controlNav a {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    text-indent: -9999px;
    border: 0;
    margin: 0 8px;
	position:relative;
}
.nivo-control.active:before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    border: 2px solid #fe911c;
    border-radius: 100%;
    z-index: 100000;
    top: -8px;
    left: -8px;
}

.theme-default .nivo-controlNav a.active {
    background-position: 0 -22px;
}

.theme-default .nivo-directionNav a {
    display: block;
    width: 33px;
    height: 26px;
    background: url(../../images/arrows.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    opacity: 1;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out
}

.theme-default:hover .nivo-directionNav a {
    opacity: 1
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
    width: 100%
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
    width: auto;
    height: auto;
    background: none;
    margin-bottom: 5px
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
    display: block;
    width: 120px;
    height: auto
}

.slider-main .theme-default .nivo-directionNav {
    position: absolute;
    right: 75px;
    z-index: 9999;
    top: 50%;
    transform: translate(0,-50%);
}

.slider-main .theme-default .nivo-directionNav a.nivo-prevNav {
    background-image: url(../../images/arrow-right.png);
}
.slider-main .theme-default .nivo-directionNav a.nivo-nextNav {
    background-image: url(../../images/arrow-left.png);
}

.slider-main .theme-default .nivo-directionNav a {
    border-radius: 0;
    height: 40px;
    width: 40px;
    position: static;
    margin-bottom: 4px;
    background-position: center !important;
}